@import url('../../.cache/wal/colors-waybar.css');

* {
    all: unset;
	  font-family: 'JetBrainsMono Nerd Font';
    transition: background-color .3s ease;
    color: @foreground
}

window {
  background-color: transparent;
}

#workspaces {
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 25px;
}

#workspaces button {
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 4px;
  padding: 3px 3px;
  font-weight: bolder;
  /*
* color: white;
  background-color: #181818;
  */
  color: @foreground;
  /*background-color: @background;*/
}

/*
 *
 *
 * Change the background property to something else for the window indicator background
 * also change color property to whatever foreground you like
 *
 *
 */

#workspaces button.active,
#workspaces button.focused {
  padding: 3px 6px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  color: @foreground;
  background: @color2;
}

#tray,
#mpd,
#custom-weather,
#cpu,
#temperature,
#memory,
#sway-mode,
#backlight,
#pulseaudio,
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#custom-mem,
#custom-cmus,
#custom-weather,
#battery,
#clock {
  padding: 0 10px;
}

#network {
  padding-left: 10px;
}
